body {
  width: 100%;
  height: 100%;
  text-align:center;
}

a {
  padding:10px;
  
}

.grey-background {
  background-color: grey;
}


.caption {
  font-size:15px;
}

#featured-property p{
  width:710px;
  margin:auto;
}

#lorem {
  padding:10px;
}

div {
  text-align:center;
  float:left;
  width:25%;
  background-color: red;
}